@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

header {
    text-align: center;
    margin-bottom: 20px;
}

span.FirstPerson.highlight { color: lightskyblue; }  
span.name.highlight { color: orchid; }